<!-- @let count = (counterService.count | async) ?? 0; -->
<div class="flex justify-center mt-20 mb-8">
  <h1 class="font-black text-3xl">{{ myCount | async }}</h1>
  <!-- <h1 class="font-black text-3xl">{{ myCount }}</h1> -->
</div>
<div class="flex justify-between my-20 mx-36">
  <button (click)="increment()" class="btn btn-success">Increment</button>
  <button (click)="decrement()" class="btn btn-error">Decrement</button>
  <button (click)="reset()" class="btn btn-warning">Reset</button>
</div>
